h1{
    display: flex;
    justify-content: center;
}
.center{
    justify-content: center;
    display: flex;
}

.StoryText {
    text-align: center;
    font-family:monospace;
    font-size: x-large;
    margin-left: 50px;
    margin-right: 50px;
    /* border: thick dashed black; */
    background-color: rgba(255, 255, 255, 0.929);
    box-shadow: 5px 5px 5px black;
    color: black
}

.frame {
    width: 300px;
    height: 250px;
    border: 3px solid #ccc;
    background: #eee;
    margin: auto;
    padding: 15px 10px;
 }
  
  img {
    width: 30%;
    height: 30%;
  }

  .navbar{
    background-color: black;
  }


  .nav-link{
    color: #FFFFFF;
  }

.solid {border-style: solid;}

.filmList{
    display: flex;
    justify-content: center;
    align-self: center;
    
        
}

.listObject {
    display: flex;
    background-color: #D9D9D9;
    border-radius: 3em;
    align-items: center;

    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
    flex-wrap: wrap;

}
.solid {border-style: solid;
     width: 100;
     height: 100;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    text-align: center;
    margin-left: 500px;
  }

.card {
  background-color: #D9D9D9;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.frontPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pond {
    justify-content: center;
}